.advantage__item {
    display: block;
}

.advantage__item-group:not(:last-child) {
    margin-bottom: 30px;
  }

  .advantage__box-icons{
  display: flex;
  background-color: #F5F4FA;
  height: 120px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
  }

  .advantage__title{
  text-align: center;
  color: #212121;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
  margin-bottom: 10px;
  }

  .advantage__paragraph{
    font-size: 14px;
    line-height: 1.7;
    color: rgba(117, 117, 117, 1);
  }


  @media screen and (min-width: 767px) and (max-width: 1200px){

    .advantage__item{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    }

    .advantage__item-group{
    width: calc((100% - 30px) / 2);

    &:not(:last-child) {
      margin-bottom: 0px;
    }
    }

    .advantage__title{
        text-align: start;
    }

  }

  @media screen and (min-width: 1200px){
    .advantage__item{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    }

    .advantage__item-group{
        width: calc((100% - 90px) / 4);
        margin-bottom: 0;
    }

    .advantage__title{
        text-align: start;

    }


  }















// .advantage__item {
//     display: flex;
//     column-gap: 30px;
//    margin-left: auto;
//    margin-right: auto;}

// .advantage__title{
// font-weight: 700;
// font-size: 14px;
// line-height: 1.14;
// text-transform: uppercase;
// letter-spacing: 0.03em;
// margin-bottom: 10px;
// padding-left: 50px;
// white-space: nowrap;
// width: 270px;
// }
// .advantage__item-group{
//     flex-basis: calc( (100% - 90px) / 4);
// }

// .advantage__box-icons{
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     width: 270px;
//     height: 120px;
//     margin-bottom: 30px;
//     background-color: var(--additional-fon-color);
//     border-radius: 4px;
// }

// .advantage__paragraph{
// line-height:1.7;
// color: var(--additional-text-color);
// }

// .advantage__title{
// font-weight: 700;
// font-size: 14px;
// line-height: 16px;
// text-transform: uppercase;
// width: 270px;
// }
